/*========== GOOGLE FONT ==========*/

$primary-font: 'Manrope', sans-serif;
$secondary-font: 'Inter', sans-serif;

/*========== COLORS ==========*/

$primary: #0A2342;

$secondary: #1D4ED8;

$accent: #F4B400;

$dark: #111827;

$light: #ffffff;

$text: #374151;

$bg: #F8FAFC;

$border: #E5E7EB;

/*========== SHADOWS ==========*/

$shadow:

0 15px 35px rgba(0,0,0,.08);

$shadow-lg:

0 25px 60px rgba(0,0,0,.15);

/*========== BORDER ==========*/

$radius:16px;

$transition:.35s ease;